<!DOCTYPE html>

<head>
  <title>From a Static File</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js"></script>
</head>
{{>header}}

<body>
  Index Page
  <h1>{{title}}</h1>
  <h1>{{Name}}</h1>
</body>
{{>footer}}

</html>