<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    About page
   <h1>{{Name}}</h1> 
    <img src="/img/nodejslogo.png" height="500px" width="600px">
    <h1>{{Created_By}}</h1>
</body>
</html>